/*
Briefcase Template
http://www.templatemo.com/preview/templatemo_325_briefcase
*/

body {
	margin: 0px;
	padding: 0px;
	color: #3c3a38;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #191613;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: no-repeat;
	background-position: top center	
}

a, a:link, a:visited { color: #000; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
em { color: #000; font-weight: bold; font-style: normal }

h1, h2, h3, h4, h5, h6 { color: #02b6d6; font-weight: normal; }
h1 { font-size: 28px; margin: 0 0 20px 0; padding: 5px 0 }
h2 { font-size: 25px; margin: 0 0 15px 0; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { clear: both; display: block; width: 50px; height: 18px; line-height: 18px; padding-right: 18px; font-size: 11px; text-align: center; color: #333; font-weight: 700; background: url(images/templatemo_more.png)  no-repeat }
a.more:hover { text-decoration: none; color: #000; text-shadow: 1px 1px 1px #fff; }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 5px solid #fff; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none }
.tmo_list li { color:#e98236; margin: 0; padding: 0 0 0 20px; background: url(images/templatemo_list.jpg) no-repeat scroll 0 7px  }
.tmo_list li a { color: #e98236; font-weight: normal }
.tmo_list li a:hover { color: #e98236 }

#templatemo_wrapper {
	width: 1020px;
	margin: 0 auto;
	padding: 10px 0;
}

#templatemo_header {
	width: 1020px;
	height: 87px;
	background: url(images/templatemo_header.png) no-repeat
}

#site_title { float: left; display: block; width: 225px; height: 87px; margin-left: 45px; }
#site_title h1 { margin: 0; padding: 0 }
#site_title h1 a { display: block; width: 150px; height: 64px; margin: 35px 0 0 37px; color: #fff; text-indent: -10000px; background: url(images/templatemo_logo.png)  no-repeat }

#instagram a{ float: right; font-weight: normal; display: block; padding: 24px 55px 24px 0; margin: 30px 30px 0 0; color: #278ff0; font-size: 16px; background: url(images/instagram.png)  no-repeat right center }

/* menu */
#templatemo_menu {
	clear: both;
	width: 720px;
	height: 52px;
	padding: 0 0 0 300px;
	background: url(images/templatemo_menu.png) no-repeat
}

#templatemo_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 38px;
	padding: 14px 30px 0 30px;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #666;	
	font-weight: 700;
	letter-spacing: 1px;
	outline: none;
	background: url(images/templatemo_menu_divider.png) center right no-repeat
}

#templatemo_menu ul li a :hover, #templatemo_menu ul li .current {
	color: #000;
}

#templatemo_menu ul li .last {
	background: none;
}

/* end of menu */

/* slider */

#templatemo_middle { 
	clear: both;
	width: 960px;
	height: 229px;
	padding: 30px;
	background: url(images/templatemo_middle.png) no-repeat
}

#templatemo_right {
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 50%;
}

#intro { float: left; padding: 0; width: 480px; }
#intro h2 { font-size: 30px; margin-bottom: 30px }
#intro p { font-size: 14px; letter-spacing: 1px; word-spacing: 5px; line-height: 24px; color: #333; margin-bottom: 20px }
/*#intro a.learn_more { display: block; float: right; width: 201px; height: 37px; padding: 13px 0 0 0; font-size: 18px; text-align: center; color: #666; background: url(images/templatemo_learn_more.png) no-repeat } */
#intro a.learn_more { display: block; float: right; width: 82px; height: 27px; padding: 3px 30px 0 0; font-size: 16px; text-shadow: 1px 1px 1px #90eeff; text-align: center; color: #0f606e; background: url(images/templatemo_middle_more.png) no-repeat; }
#intro a.learn_more:hover { text-decoration: none; color: #000; /* text-shadow: 1px 1px 1px #fff */}

#slider {
	float: right;
	width: 400px;
	height: 200px; 
	overflow: hidden;
	border: 1px solid #fff;
}

#templatemo_middle_subpage { 
	clear: both;
	width: 960px;
	height: 130px;
	padding: 30px;
	background: url(images/templatemo_middle.png) no-repeat bottom center
}

#templatemo_middle_subpage h2 { color: #02b6d6 }
#templatemo_middle_subpage p { font-size: 16px; color: #000; line-height: 30px }

/* end of slider */

#templatemo_main_top {
	width: 1020px;
	height: 51px;
   background: url(images/templatemo_content_top.png) no-repeat
}

#templatemo_main_bottom {
	width: 1020px;
	height: 35px;
    background: url(images/templatemo_content_bottom.png)
}
#templatemo_main {
	clear: both;
	width: 960px;
	padding: 30px;
	background: #fff;
}

.col_w960 { width: 960px; margin-bottom: 60px }
.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w200 { width: 200px }
.col_allw300 { float: left; width: 300px; margin-right: 30px }
.col_last { margin: 0 }

.frontpage_box h2 { font-size: 20px; padding: 0; margin-bottom: 5px }
.frontpage_box img { float: left; margin-right: 15px }
.frontpage_box a.more { margin-top: 15px }
.tagline { display: block; font-size: 11px; font-weight: bold; font-style: italic; color: #000; margin-bottom: 20px }

.lp_frontpage { margin: 0; padding: 0; list-style: none }
.lp_frontpage li { margin: 0; padding: 0; display: inline }
.lp_frontpage li a { float: left; display: block; width: 200px; height: 100px; margin: 0 10px 10px 0 }
.lp_frontpage li a img { width: 190px; height: 90px; border: 1px solid #CCC; padding: 4px; }

.sb_lp_box { clear: both; margin-bottom: 20px }
.sb_lp_box img { width: 280px; height: 140px; padding: 9px; border: 1px solid #ccc }

#gallery { margin: 0; padding: 0 }
#gallery .gallery_box { display: block; width: 450px; margin: 0 0 60px 0; }
#gallery .even { float: left }
#gallery .odd { float: right }
#gallery .gallery_box img { width: 430px; height: 160px; border: 1px solid #ccc; border: 1px solid #ccc; padding: 9px; margin-bottom: 10px; }

.news_box { margin-bottom: 60px }
.news_box h2 { font-size: 16px; margin-bottom: 0 }
.news_box p.date { color: #000; margin-bottom: 0 } 
.news_box img { float: left; width: 100px; height: 100px; border: 5px solid #ccc; margin-right: 20px; }
.news_box a.more { float: right; }

.post_box { clear: both; margin-bottom: 60px }
.post_box  .post_header { padding: 5px 0; border-bottom: 4px solid #ccc; border-top: 4px solid #ccc; margin-bottom: 20px }
.post_box h2 { font-size: 24px; margin-bottom: 0 }
.post_box p.post_meta { margin-bottom: 0; color: #666 }
.post_box p span.cat a { color: #000; font-weight: 400 }
.post_box img { margin-bottom: 10px }
.post_box a.more { float: right; }

.lbe_box { clear: both; margin-bottom: 20px }
.lbe_date { float: left; width: 100px; font-size: 12px; font-weight: bold; }
.lbe_date span { display: block; font-weight: normal; }
.lbe_content { float: right; width: 300px }
.lbe_box h3 { font-size: 16px; margin-bottom: 0 }
.lbe_box h3 a { color: #0e4369; font-size: 16px; font-weight: normal }
.lbe_box h3 a span { font-size: 12px; color: #333 }
.lbe_box p { margin-bottom: 0; }
.lbe_box p.date { font-size: 10px; font-weight: 700; color: #0e4369 }

#contact_form{ 
	width: 412px; 
	padding: 0;
}

#contact_form form { 
	margin: 0; 
	padding: 0; 
}

#contact_form form .input_field {
	width: 400px; 
	color: #333;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#contact_form form label {
	display: block; 
	margin-right: 10px; 
	font-size: 13px; 
	color: #000;
}

#contact_form form textarea {
	width: 400px; 
	height: 160px; 
	padding: 5px; 
	color: #333;
	border: 1px solid #ccc;  
	background: #fff;
	font-family: Tahoma, Geneva, sans-serifa;
    font-size: 12px;
	margin-top: 5px;
}

#contact_form form .submit_btn {
	padding: 5px 14px;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 13px;
	margin: 15px 0px;
}

#map img { width: 270px; height: 160px; border: 1px solid #999; padding: 4px }

#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 15px 30px;
	text-align: center;
	color: #706963;
	font-size: 11px;
}

#templatemo_footer a {
	font-weight: normal;
	color: #706963;
}