<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Anime page</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 325 briefcase -->
<!-- 
Briefcase Template
http://www.templatemo.com/preview/templatemo_325_briefcase
-->
<link th:href="@{/templatemo_style.css}" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	
        <div id="site_title"><h1><a href="#">Anime page</a></h1></div>

        <div id="instagram"><a href="https://www.instagram.com"></a></div>
        
        <div class="cleaner"></div>
    </div> <!-- end of templatemo header -->
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/user-profile">User Profile</a></li>
            <li><a href="/anime" class="current">Anime List</a></li>
            <li><a href="/registration">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout" class = "last">Logout</a></li>
        </ul>    	
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_middle_subpage">
        <h2>Latest anime list</h2>
        <p>Последние аниме обновления(на данный момент новинки летнего сезона ^_^)</p>
    </div>
    
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
        
        <div class="col_w960 col_last">
        	<div class="col_w450 news_box float_l">
              	<img th:src="@{/images/PeachBoyRiverside.jpg}" alt="Image 01}" />
                <h2>Персиковый мальчик с другого побережья</h2>
                <p>Жанр:Сёнэн,Фэнтези,Экшен,Боевые искусства</p>
                <a class="more" href="http://yummyanime.club/catalog/item/persikovyj-mal-chik-prishedshij-s-drugogo-poberezh-ya">More</a>
                <div class="cleaner"></div>
            </div>
            <div class="col_w450 news_box float_r">
            	<img th:src="@{/images/VanitasNoCarte.jpg}" alt="Image 02}" />
                <h2>Мемуары Ванитаса</h2>
                <p> Жанр:Сёнэн,Фэнтези,Вампиры,</p>
                <p>Исторический,Сверхъестественное</p>
                <a class="more" href="http://yummyanime.club/catalog/item/memuary-vanitasa">More</a>
                <div class="cleaner"></div>
            </div>
            <div class="cleaner"></div>
            <div class="col_w450 news_box float_l">
                <img th:src="@{/images/RealisticHero.jpg}" alt="Image 03}" />
                <h2>Герой-рационал перестраивает королевство</h2>
                <p>Жанр:Романтика,Фэнтези,Магия,Экшен,Военная тематика</p>
                <a class="more" href="http://yummyanime.club/catalog/item/geroj-racional-perestraivaet-korolevstvo">More</a>
                <div class="cleaner"></div>
            </div>
            <div class="col_w450 news_box float_r">
				<img th:src="@{/images/slime.jpg}" alt="Image 04}" />
                <h2>О моём перерождении в слизь 2 — Часть 2</h2>
                <p>Жанр:Комедия,Приключения,</p>
                <p>Фэнтези,Демоны,Магия,Экшен,Исэкай</p>
                <a class="more" href="http://yummyanime.club/catalog/item/o-moem-pererozhdenii-v-sliz-2-chast-2">More</a>
                <div class="cleaner"></div>
            </div>
            <div class="cleaner"></div>
            <div class="col_w450 news_box float_l">
              	<img th:src="@{/images/corpses.jpg}" alt="Image 05}" />
                <h2>Я стою на миллионах трупов 2</h2>
                <p>Жанр:Сёнэн,Драма,Фэнтези,Экшен,Игры</p>
                <a class="more" href="http://yummyanime.club/catalog/item/ya-stoyu-na-millionah-trupov-2">More</a>
                <div class="cleaner"></div>
            </div>
            <div class="col_w450 news_box float_r">
            	<img th:src="@{/images/Duke.jpg}" alt="Image 06}" />
                <h2>Смертоносный герцог и его черная горничная</h2>
                <p> Жанр:Драма,Комедия,Романтика</p>
                <a class="more" href="http://yummyanime.club/catalog/item/smertonosnyj-gercog-i-ego-chernaya-gornichnaya">More</a>
                <div class="cleaner"></div>
            </div>
            <div class="cleaner"></div>
        </div>
        
    </div> <!-- end of main -->
    <div id="templatemo_main_bottom"></div>
    
    <div id="templatemo_footer">

        Copyright © 2021 <a href="#">aharoo.nikitenko@gmail.com</a>
        
    </div> <!-- end of templatemo_footer -->
    
</div> <!-- end of templatemo wrapper -->

</body>
</html>