<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gallery Page</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 325 briefcase -->
<!-- 
Briefcase Template
http://www.templatemo.com/preview/templatemo_325_briefcase
-->
<link th:href="@{/templatemo_style.css}" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
    
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/JavaScript" th:src="@{/js/slimbox2.js}"></script>
<link rel="stylesheet" th:href="@{/css/slimbox2.css}" type="text/css" media="screen" />

</head>
<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	
        <div id="site_title"><h1><a href="#">Gallery Page</a></h1></div>
        
		<div id="twitter"><a href="#"></a></div>
       
        <div class="cleaner"></div>
    </div> <!-- end of templatemo header -->
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery" class="current">Gallery</a></li>
            <li><a href="/anime">Anime List</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/registration">Sign Up</a></li>
            <li><a href="/logout" class = "last">Logout</a></li>
        </ul>    	
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_middle_subpage">
        <h2>Gallery of Arts</h2>
        <p>Фэнтези арты<a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
    </div>
    
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
        <div class="col_w960 col_last">
        <div id="gallery">
            <div class="gallery_box even">
                <h3>Lorem ipsum dolor sit amet</h3>
                <a rel="lightbox[portfolio]" th:href="@{/images/gallery/image_01_l.jpg}" title="Lorem ipsum dolor sit amet">
                <img th:src="@{/images/gallery/image_01_s.jpg}" alt="Image 01" />
                </a>
                <p>Suspendisse cursus pretium tempus. Pellentesque blandit hendrerit est sit amet cursus. Duis eget lacus odio, et rhoncus diam. <a href="#">More...</a></p>
            </div>
            <div class="gallery_box odd">
                <h3>Integer faucibus tincidunt mi</h3>
                <a rel="lightbox[portfolio]" th:href="@{/images/gallery/image_02_l.jpg}" title="Integer faucibus tincidunt mi">
                <img th:src="@{/images/gallery/image_02_s.jpg}" alt="Image 02" />
                </a>
                <p>Duis mi est, commodo eu rutrum quis, elementum a lacus. In vitae est risus. Aenean at nibh sapien. <a href="#">More...</a></p>
            </div>
            <div class="cleaner"></div>
            <div class="gallery_box even">
                <h3>Fusce imperdiet tellus sed</h3>
                <a rel="lightbox[portfolio]" th:href="@{/images/gallery/image_03_l.jpg}" title="Fusce imperdiet tellus sed">
                <img th:src="@{/images/gallery/image_03_s.jpg}" alt="Image 03" />
                </a>
                <p>Proin lobortis sagittis egestas. Cras eu iaculis nisi. Quisque eleifend ipsum nec lorem suscipit vel volutpat neque posuere.  <a href="#">More...</a></p>
          	</div>
            <div class="gallery_box odd">
                <h3>Proin vitae mollis enim</h3>
                <a rel="lightbox[portfolio]" th:href="@{/images/gallery/image_04_l.jpg}" title="Proin vitae mollis enim">
                <img th:src="@{/images/gallery/image_04_s.jpg}" alt="Image 04" />
                </a>
                <p>Nulla in tellus vitae tortor placerat ultricies. Proin at porttitor felis. Donec ac eros ac ipsum sagittis semper. <a href="#">More...</a></p>
          	</div>
            <div class="cleaner"></div>
            <div class="gallery_box even">
            <h3>Proin consectetur sagittis est</h3>
                <a rel="lightbox[portfolio]" th:href="@{/images/gallery/image_05_l.jpg}" title="Proin consectetur sagittis est">
                <img th:src="@{/images/gallery/image_05_s.jpg}" alt="Image 05" />
                </a>
                <p>Sed egestas interdum quam et porta. Fusce pulvinar justo tincidunt urna lobortis malesuada et vitae turpis. <a href="#">More...</a></p>
            </div>
            <div class="gallery_box odd">
                <h3>Nullam venenatis hendrerit</h3>
                <a rel="lightbox[portfolio]" th:href="@{/images/gallery/image_06_l.jpg}" title="Nullam venenatis hendrerit">
                <img th:src="@{/images/gallery/image_06_s.jpg}" alt="Image 06" />
                </a>
                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ac quam id tortor accumsan ultrices.  <a href="#">More...</a></p>
          </div> 
            <div class="cleaner"></div>
          </div>
        </div> 
        
    </div> <!-- end of main -->
    <div id="templatemo_main_bottom"></div>
    
    <div id="templatemo_footer">

        Copyright © 2021 <a href="#">aharoo.nikitenko@gmail.com</a>
    
    </div> <!-- end of templatemo_footer -->
    
</div> <!-- end of templatemo wrapper -->

</body>
</html>